
<h2>Fill in your information</h2>
<form action='/users/new' method='POST'>
  Username: <input type='text' name='username'></br>
  Password: <input type='text' name='password'></br>
  Email: <input type='password' name='email'></br>
  <input type='submit' value='Login'>
</form>
