<h2>Click on a deck if you want to play killer flash cards</h2>

<ul>
  <% @decks.each do |deck| %>
    <li><a href="/decks/<%= deck.id %>"><%= p deck.name %></a></li>
  <% end %>
</ul>

<a href="/users/new">Create a new user</a>
