<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header>
    <h1>Flashcards</h1>
    <br>
    <ul>
      <% if logged_in? %>
        <li><form action='/users/<%= session[:user_id] %>' method='get'>
          <input type='submit' value='user profile'>
        </form></li>
        <li><form action='/logout' method='post'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' value='logout'>
        </form></li>
      <% else %>
        <!-- <li><a href="/login">login</a></li> -->
        <li><form action='/login' method='get'>
          <input type='submit' value='login'></form></li>
        <!-- <li><a href="/users/new">Register</a></li> -->
        <li><form action='/users/new' method='get'>
          <input type='submit' value='register'></form></li>
      <%end%>
      <!-- <li><a href="/">home</a></li> -->
      <li><form action='/' method='get'>
          <input type='submit' value='home'></form></li>
    <ul>
  </header>
  <div class="container">
  <%= yield %>
  </div>
</body>
</html>
